<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="menu-level-1">
            <!-- MARKETING SECTION -->
            <li class="has-submenu">
                <a href="#" class="nav-item">
                    <span class="nav-text">Marketing</span>
                </a>
                <ul class="submenu">
                    <!-- Inventario Submenu -->
                    <li class="has-submenu">
                        <a href="#" class="nav-item">
                            <span class="nav-text">Inventario</span>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="../inventario/inventario.html" class="nav-item">
                                    <span class="nav-text">Agregar/Consultar Inventario</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                    <!-- Merchandising Submenu -->
                    <li class="has-submenu">
                        <a href="#" class="nav-item">
                            <span class="nav-text">Merchandising</span>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="../Merchandising/solicitud.html" class="nav-item">
                                    <span class="nav-text">Solicitud de Merchandising</span>
                                </a>
                            </li>
                            <li>
                                <a href="../Merchandising/confirmacion.html" class="nav-item">
                                    <span class="nav-text">Confirmación Solicitudes</span>
                                </a>
                            </li>
                            <li>
                                <a href="../Merchandising/visualizar.html" class="nav-item">
                                    <span class="nav-text">Historial Confirmaciones</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            
            <!-- VENTAS SECTION -->
            <li class="has-submenu">
                <a href="#" class="nav-item">
                    <span class="nav-text">Ventas</span>
                </a>
                <ul class="submenu">
                    <!-- Encuestas Submenu -->
                    <li class="has-submenu">
                        <a href="#" class="nav-item">
                            <span class="nav-text">Encuestas</span>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="../feedback/encuesta.html" class="nav-item">
                                    <span class="nav-text">Generador Encuestas</span>
                                </a>
                            </li>
                            <li>
                                <a href="../feedback/califica.html" class="nav-item">
                                    <span class="nav-text">Registro Calificaciones</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
              <!-- LOGÍSTICA SECTION -->
            <li>
                <a href="../seguimiento/seguimiento.html" class="nav-item">
                    <span class="nav-text">Seguimiento de Pedidos</span>
                </a>
            </li>
            
            <!-- BIENESTAR DE TALENTO SECTION -->
            <li>
                <a href="../Bienestar_talento/Bienestar.html" class="nav-item">
                    <span class="nav-text">Bienestar de Talento</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
